/* CSS Women in Technology */

body {
  font-family: Helvetica;
  font-size: 16px;
  color: #333;
  margin: 0;
  /* width: 100 vw; */
  /* border: 3px solid red; */
  /* box-sizing: border-box; */
}



h1 {
  font-size: 22px;
  text-align: center;
}

h2 {
  font-size: 18px
}

 /* Navigation styles */



 .burger-line {
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background: #fff;
    margin: 6px 0;
 }

 .burger-menu {

   /* display: inline; */
   position: fixed;
   padding: 15px 15px;
   z-index: 100;
   right: 0px;
   /* border: 2px solid red; */
 }

 .main-nav {
   background-color: #333;
   padding: 10px 30px 10px 30px;
   z-index: 1;
   /* border: 1px solid red; */
 }

 nav li a:click {
   color: teal;
 }

@media screen and (min-width: 900px) {

  .burger-menu {
    display: none;
  }

  .main-nav ul {
      text-align: center;
  }

  nav ul li{
      display: inline-block;
      padding: 5px 10px 5px 0px;


      /* border: 1px solid red; */
  }

  nav li a {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    padding: 5px 15px;
    /* border: 1px solid red; */

  }

  nav li a:hover {
    color: teal;
  }

  .home-button {
    border: 2px solid #fff;
    border-radius: 20%;
  }
}

/* Header styles */

header {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.header-image {
  /* background-position: center; */
  margin: 0 auto;
  top: -150px;
}

img {
 width: 100%;
 position: absolute;
 top: 0;
 z-index: 1;
 transition-property: opacity;
 transition-duration: 1s;
 transition-timing-function: ease-in;
 transition-delay: 0.5s
}

@media screen and (min-width: 900px) {
  header h1 {
    color: #fff;
    font-size: 55px;
    /* width: 100%; */
    width: 100 vw;
    text-align: center;
    display: inline;
    position: absolute;
    padding: 0 20%;
    top: 55%;
    /* left: 25%; */
    z-index: 100;

    /* border: 2px solid red; */
  }

  header {
    height: 600px;
    overflow: hidden;
    position: relative;
  }

  .header-image {
    /* background-position: center; */
    margin: 0 auto;
    top: -190px;
  }

  /* img {
   width: 100%;
   position: absolute;
   top: 0;
   z-index: 1;
   transition-property: opacity;
   transition-duration: 1s;
   transition-timing-function: ease-in;
   transition-delay: 0.5s
 } */
}


/* Main section styles */
section {
  text-align: justify;
  margin: 15px 30px;
  width: 90%;
  padding: 5px 5px;
  position: relative;

}

figure {
  height: 100px;
  overflow: hidden;
  position: relative;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 0.5s
  /* border: 3px solid red; */
}

@media screen and (min-width: 900px) {
  section {
    text-align: justify;
    /* margin: 20px; */
    width: 100 vw;
    /* width: 80%; */
    padding: 30px 30px;
    position: relative;

    /* border: 2px solid red; */

  }

  figure {
    height: 300px;
    overflow: hidden;
    position: relative;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.5s

    /* border: 3px solid red; */
  }
}


/* Footer styles */

footer {
  background-color: #333;
  color: #fff;
}
