/* CSS Stylesheet */

/* Typography Styling */

h1 {
 font-size: 66px;
 text-decoration: none;
 color: #2590b8;
}

p {
  font-size: 120%;
  color: #36286a;
}

/*Header style*/
 #header-box {
  width: 200px;
     height: 100px;
     background: red;
}

/* Image styles */

.thumbnail {
    position: relative;
    text-align: center;
    color: white;
    margin: 30px 30px;
}

.caption {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
