/* CSS Stylesheet */

main {
  margin-top: 100px;
  /* position: relative; */
}

/* Typography Styling */

body {
  font-size: 120%;
  color: #36286a;
}

h1 {
 font-size: 66px;
 text-decoration: none;
 color: #2590b8;
}

h2

/*Header style*/
 #header-box {
  width: 200px;
     height: 100px;
     background: red;
}

.navbar-dark {
  background-color: rgba(255, 140, 167, 0.6);
}

.jumbotron {
  margin: 110px 30px;
  padding: 70px 5px 40px 5px;
  background-color: rgba(37,144, 184, 0.2)

}

li {
  background: url("../images/assets/bullets.png") no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
}

#ada-b

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 760px) {
  .jumbotron {
  /* padding-top:200px; */
  margin: 200px 300px 100px 0px;
  padding: 10px 10px 30px 50px;
 }

 .short-bio-list {
   border: 2px solid red;

 }
}


/* Image styles */

.thumbnail {
    position: relative;
    text-align: center;
    color: white;
    margin: 30px 30px;
}

.caption {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
